<h1> Notes</h1>
<div class="position-fixed new-note-btn-container">
  <%= link_to "+", new_note_path, method: :get,class:"center btn btn-success new-note-btn rounded-circle" %>
</div>
<div class="container">
  <div class="row ">
    <div class="col-12 my-2">
        <%if @notes.count ==0 %>
          <p class="d-inline-block" >Seems like you don't have any notes, let's create a </p>
          <%= link_to "new note", new_note_path, method: :get,class:" d-inline-block" %>
        <%end%>
      <div class="card-columns">
        <% @notes.each do |note|%>
          <%= render 'note_small', note: note %>
        <%end%>
      </div>
    </div>
  </div>
</div>


